<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansol.first.mapper.TaskMapper">
    <insert id="saveTask" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task(task_code, task_name, member_assigned, member_id) VALUES(#{taskCode}, #{taskName}, #{memberAssigned}, #{memberId});
    </insert>
    <insert id="saveTaskCompany" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task_company(company_name, task_id) VALUES(#{companyName}, #{taskId});
    </insert>
    <insert id="saveTaskCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task_category(category, task_id) VALUES(#{category}, #{taskId});
    </insert>
    <update id="updateTask">
        UPDATE task
        SET task_code=#{taskCode}, task_name=#{taskName}, member_assigned=#{memberAssigned}, member_id=#{memberId}
        WHERE id = #{id}
    </update>
    <update id="updateTaskCompany">
        UPDATE task_company
        SET company_name=#{companyName}, task_id=#{taskId}
        WHERE id = #{id}
    </update>
    <update id="updateTaskCategory">
        UPDATE task_category
        SET category=#{category}, task_id=#{taskId}
        WHERE id = #{id}
    </update>
    <update id="updateTaskMemberToNull">
        UPDATE task
        SET member_id = NULL
        WHERE member_id=#{memberId}
    </update>
    <select id="findAllTask" resultType="Task">
        SELECT id, task_code, task_name, member_assigned, member_id FROM task;
    </select>
    <select id="findAllTaskCompany" resultType="TaskCompany">
        SELECT id, company_name, task_id FROM task_company;
    </select>
    <select id="findAllTaskCategory" resultType="TaskCategory">
        SELECT id, category, task_id FROM task_category;
    </select>
    <delete id="deleteTaskById">
        DELETE FROM task WHERE id = #{id};
    </delete>
    <delete id="deleteTaskCompanyByTaskId">
        DELETE FROM task_company WHERE task_id = #{taskId};
    </delete>
    <delete id="deleteTaskCategoryByTaskId">
        DELETE FROM task_category WHERE task_id = #{taskId};
    </delete>
</mapper>