<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansol.first.mapper.TaskMapper">
    <insert id="saveTask" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task(task_code, task_name) VALUES(#{taskCode}, #{taskName});
    </insert>
    <insert id="saveTaskCompany" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task_company(company_name, task_id, member_id) VALUES(#{companyName}, #{taskId}, #{memberId});
    </insert>
    <insert id="saveTaskCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task_category(category, task_id, member_id) VALUES(#{category}, #{taskId}, #{memberId});
    </insert>
    <insert id="saveTaskPhone" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO task_phone(phone_number, task_id, member_id) VALUES(#{phoneNumber}, #{taskId}, #{memberId});
    </insert>
    <update id="updateOverallTask">
        UPDATE task t, member m, task_company c, task_category g, task_phone p
        SET t.task_code=#{taskCode}, t.task_name=#{taskName}, m.member_name=#{memberName}, m.member_rank=#{memberRank}, c.company_name=#{companyName},
            g.category=#{category}, p.phone_number=#{phoneNumber}
        WHERE t.id = #{id};
    </update>
    <select id="findAllOverallTask" resultType="OverallTaskDto">
        SELECT t.id, t.task_code, t.task_name, m.member_name, m.member_rank, c.company_name, g.category, p.phone_number
        FROM task t, member m, task_company c, task_category g, task_phone p
        WHERE t.id = c.task_id = g.task_id = p.task_id and c.member_id = m.id;
    </select>
    <select id="findOverallTaskById" resultType="OverallTaskDto">
        SELECT t.id, t.task_code, t.task_name, m.member_name, m.member_rank, c.company_name, g.category, p.phone_number
        FROM task t, member m, task_company c, task_category g, task_phone p
        WHERE #{id} = t.id = c.task_id = g.task_id = p.task_id and c.member_id = m.id;
    </select>
    <delete id="deleteTaskById">
        DELETE FROM task WHERE id = #{id};
    </delete>
    <delete id="deleteTaskCompanyByTaskId">
        DELETE FROM task_company WHERE task_id = #{taskId};
    </delete>
    <delete id="deleteTaskCategoryByTaskId">
        DELETE FROM task_category WHERE task_id = #{taskId};
    </delete>
    <delete id="deleteTaskPhoneByTaskId">
        DELETE FROM task_phone WHERE task_id = #{taskId};
    </delete>
    <delete id="deleteTaskCompanyByMemberId">
        DELETE FROM task_company WHERE member_id = #{memberId};
    </delete>
    <delete id="deleteTaskCategoryByMemberId">
        DELETE FROM task_category WHERE member_id = #{memberId};
    </delete>
    <delete id="deleteTaskPhoneByMemberId">
        DELETE FROM task_phone WHERE member_id = #{memberId};
    </delete>
</mapper>